@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>

     a {
        background: #023877;
        padding: 10px 15px;
        font-size: 16px;
    }

    a:active{
        text-decoration: none;
    }

    p{
        font-size:22px;
    }

</style>

<p>
    El estudiante ha sido registrado de manera exitosa
</p>

<a href="Formulario" style="text-decoration:none" class="text-white">Volver al formulario</a>